// =============================================================================
// _VARIABLES-LIGHT.SCSS
// -----------------------------------------------------------------------------
// Site styles.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Appearance
//   02. Scaffolding
//   03. Links
//   04. Typography
//       a. Font Families
//       b. Base Styles
//       c. Heading Styles
//   05. Tables
//   06. Buttons
//       a. Base Button Styling
//       b. Box Shadows
//   07. Forms and Alerts
//       a. Base Form Styling
//       b. Inputs
//       c. Box Shadows
//       d. Fine-Tune Element Alignment
//       e. Form States and Alert Colors
//       f. Alerts
//   08. Component Variables
//       a. Input Placeholder Text
//       b. Navbar
//       c. Dropdowns
//       d. Alerts
//       e. Tooltips and Popovers
//       f. Colophon
//   09. BuddyPress
//   10. Grid
//       a. Grid Columns
//       b. Fixed
//       c. Fluid
// =============================================================================

// Appearance
// =============================================================================

$skin:                                        'light'                                             !default;

$baseBoxShadow:                               0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135)              !default;
$baseShortcodeBoxShadow:                      0 0.125em 0.275em 0 rgba(0, 0, 0, 0.075)            !default;
$baseBoxShadowNavbar:                         0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135)              !default;
$baseBoxShadowAccent:                         rgba(255, 255, 255, 0.85)                           !default;
$baseModBackground:                           $white                                              !default;
$siteBackground:                              $baseModBackground                                  !default;
$siteBorderColor:                             rgba(0, 0, 0, 0.275)                                !default;
$siteBoxShadow:                               0 0 5px rgba(0, 0, 0, 0.125)                        !default;
$accentColor:                                 #ff2a13                                             !default;
$entryFeaturedBoxShadow:                      4px 2px 4px -4px rgba(0, 0, 0, 0.135),
                                              -4px 2px 4px -4px rgba(0, 0, 0, 0.135)              !default;
$widgetBorderColor:                           #ddd                                                !default;
$widgetBorderColorRgba:                       rgba(0, 0, 0, 0.1)                                  !default;
$widgetLiABlockBorderColorRgba:               rgba(0, 0, 0, 0.1075)                               !default;
$widgetBlockLinkBorder:                       1px solid $widgetBorderColor                        !default;
$widgetUlBackground:                          transparent                                         !default;
$widgetUlBoxShadow:                           0 1px 1px rgba(255, 255, 255, 0.95)                 !default;
$widgetUlChildrenBoxShadow:                   inset 0 1px 1px rgba(255, 255, 255, 0.95)           !default;
$widgetLiBoxShadow:                           0 1px 1px rgba(255, 255, 255, 0.95)                 !default;
$widgetLiABlockBoxShadow:                     0 1px 1px rgba(255, 255, 255, 0.95)                 !default;
$widgetLiBackgroundHover:                     $baseModBackground                                  !default;
$widgetLiABlockFirstChildBorderTop:           #ddd                                                !default;
$widgetTextShadow:                            0 1px 0 rgba(255, 255, 255, 0.95)                   !default;
$widgetbarBackground:                         $white                                              !default;
$widgetbarColor:                              #727272                                             !default;
$widgetNavMenuCurrentItemBackground:          $baseModBackground                                  !default;
$widgetLiABlockBackgroundHover:               $baseModBackground                                  !default;
$widgetWooButtonStyledBoxShadow:              $widgetUlBoxShadow                                  !default;
$widgetWooButtonStyledBackgroundHover:        rgba(255, 255, 255, 0.35)                           !default;
$widgetWooLayeredNavChosenBackground:         $widgetLiBackgroundHover                            !default;
$widgetWooLayeredNavCountBackground:          $widgetLiBackgroundHover                            !default;
$widgetWooLayeredNavCountBoxShadow:           inset 0 1px 2px rgba(0, 0, 0, 0.25)                 !default;
$widgetWooPriceFilterSliderBoxShadow:         inset 0 1px 2px 0 rgba(0, 0, 0, 0.15),
                                              0 1px 0 0 rgba(255, 255, 255, 0.85)                 !default;
$widgetWooPriceFilterHandleBackground:        $baseModBackground                                  !default;
$widgetWooPriceFilterRangeBoxShadow:          inset 0 1px 2px 0 rgba(0, 0, 0, 0.45)               !default;
$widgetWooPriceFilterHandleBoxShadow:         0 1px 3px rgba(0, 0, 0, 0.25)                       !default;
$contentDockBoxShadow:                        0 0.085em 0.5em 0 rgba(0, 0, 0, 0.165)              !default;
$contentDockCloseColor:                       darken($baseModBackground, 15%)                     !default;
$tagColor:                                    #c5c5c5                                             !default;
$tagColorRgba:                                rgba(0, 0, 0, 0.375)                                !default;
$tagColorHover:                               #777                                                !default;
$tagColorHoverRgba:                           rgba(0, 0, 0, 0.75)                                 !default;
$tagColorActive:                              $tagColorHover                                      !default;
$tagColorActiveRgba:                          $tagColorHoverRgba                                  !default;
$tagBorderColor:                              #ddd                                                !default;
$tagBorderColorRgba:                          rgba(0, 0, 0, 0.125)                                !default;
$tagBorderColorHover:                         #cfcfcf                                             !default;
$tagBorderColorHoverRgba:                     rgba(0, 0, 0, 0.25)                                 !default;
$tagBorderColorActive:                        #bbb                                                !default;
$tagBorderColorActiveRgba:                    rgba(0, 0, 0, 0.25)                                 !default;
$tagBackgroundColorHover:                     $baseModBackground                                  !default;
$tagBackgroundColorHoverRgba:                 rgba(255, 255, 255, 1)                              !default;
$tagBackgroundColorActive:                    #ebebeb                                             !default;
$tagBackgroundColorActiveRgba:                rgba(0, 0, 0, 0.075)                                !default;
$tagBoxShadow:                                0 1px 1px rgba(255, 255, 255, 0.95)                 !default;
$tagBoxShadowActive:                          inset 0 1px 2px rgba(0, 0, 0, 0.225), $tagBoxShadow !default;
$tagTextShadow:                               0 1px 0 rgba(255, 255, 255, 0.95)                   !default;
$boxedEntryBorder:                            #ddd                                                !default;
$headerLandmarkBackgroundColor:               #e1e1e1                                             !default;
$headerLandmarkBackgroundColorRgba:           rgba(0, 0, 0, 0.1)                                  !default;
$headerLandmarkBoxShadow:                     rgba(255, 255, 255, 0.795)                          !default;
$headerLandmarkSubColor:                      #b7b7b7                                             !default;
$breadcrumbBackground:                        rgba(0, 0, 0, 0.0225)                               !default;
$breadcrumbBorderBottom:                      rgba(0, 0, 0, 0.1)                                  !default;
$breadcrumbTextShadow:                        0 1px 0 rgba(255, 255, 255, 0.55)                   !default;
$breadcrumbBoxShadow:                         rgba(255, 255, 255, 0.715)                          !default;
$commentAvatarBoxShadow:                      inset 0 1px 3px rgba(0, 0, 0, 0.45),
                                              0 1px 0 0 rgba(255, 255, 255, 0.85)                 !default;
$commentNumberBoxShadow:                      inset 0 2px 3px rgba(0, 0, 0, 0.3),
                                              0 2px 1px rgba(255, 255, 255, 1)                    !default;
$commentByPostAuthorTextShadow:               0 1px 0 rgba(255, 255, 255, 1)                      !default;
$colophonBoxShadow:                           inset 0 1px 0 0 rgba(255, 255, 255, 0.8)            !default;
$mejsButtonBorderColor:                       #272727                                             !default;
$mejsGradientTop:                             lighten(#272727, 20%)                               !default;
$mejsGradientBottom:                          #272727                                             !default;
$searchFormIconColor:                         #272727                                             !default;
$paginationItemBoxShadow:                     inset 0 0 0 rgba(0, 0, 0, 0),
                                              0 0.1em 0.45em 0 rgba(0, 0, 0, 0.25)                !default;
$paginationCurrentItemBoxShadow:              inset 0 0.1em 0.35em rgba(0, 0, 0, 0.65),
                                              0 1px 0 0 rgba(255, 255, 255, 0.95)                 !default;
$paginationItemTextShadow:                    0 1px 1px rgba(255, 255, 255, 0.85)                 !default;
$dropdownCollapseLinkColorHover:              #272727                                             !default;
$dropdownCollapseLinkBackgroundHover:         #f5f5f5                                             !default;
$thumbnailBoxShadow:                          0 1px 3px rgba(0, 0, 0, 0.1)                        !default;
$thumbnailBackground:                         $baseModBackground                                  !default;
$shortcodeBoxShadowOuter:                     0 0.125em 0.275em 0 rgba(0, 0, 0, 0.125)            !default;
$shortcodeBoxShadowInner:                     none                                                !default;
$shortcodeBorderColor:                        #ddd                                                !default;
$shortcodeBorderColorRgba:                    rgba(0, 0, 0, 0.15)                                 !default;
$shortcodeAccordionContentBackground:         $baseModBackground                                  !default;
$shortcodeAccordionBeforeColor:               darken($baseModBackground, 20%)                     !default;
$shortcodeTabsContentBackground:              $baseModBackground                                  !default;
$shortcodeTabsContentBoxShadow:               0 0.125em 0.275em 0 rgba(0, 0, 0, 0.125)            !default;
$shortcodeTabNavLinkColor:                    darken($baseModBackground, 25%)                     !default;
$shortcodeTabNavLinkColorHover:               darken($baseModBackground, 50%)                     !default;
$shortcodeTabNavLinkBackground:               darken($baseModBackground, 3%)                      !default;
$shortcodeTabNavLinkBoxShadow:                inset 0 1px 0 0 rgba(255, 255, 255, 0.85)           !default;
$shortcodeSkillBarWrapBackground:             darken($baseModBackground, 5%)                      !default;
$shortcodeSkillBarPercentageBackground:       rgba(0, 0, 0, 0.35)                                 !default;
$shortcodeSkillBarPercentageTextShadow:       0 1px 0 rgba(0, 0, 0, 0.75)                         !default;
$shortcodeMapBackground:                      $baseModBackground                                  !default;
$shortcodeMapBoxShadow:                       0 1px 3px rgba(0, 0, 0, 0.1)                        !default;
$shortcodePromptBackground:                   $baseModBackground                                  !default;
$shortcodePromoBackground:                    $baseModBackground                                  !default;
$shortcodePromoImgBorderBottom:               #eee                                                !default;
$shortcodeResponsiveVideoBackground:          $baseModBackground                                  !default;
$shortcodeResponsiveVideoBoxShadow:           0 1px 3px rgba(0, 0, 0, 0.1)                        !default;
$shortcodeColumnizeBorderColor:               #e5e5e5                                             !default;
$shortcodeCodeBackground:                     #f7f7f9                                             !default;
$shortcodeCodeBorder:                         #e1e1e8                                             !default;
$shortcodeRecentPostsBackground:              $baseModBackground                                  !default;
$shortcodeSkillbarBoxShadow:                  inset 0 1px 2px rgba(0, 0, 0, 0.15)                 !default;
$shortcodePricingTableColumnBoxShadow:        0 0 10px rgba(0, 0, 0, 0.125)                       !default;
$shortcodeCalloutBoxShadowOuter:              inset 0 1px 0 0 rgba(255, 255, 255, 0.95),
                                              0 1px 3px rgba(0, 0, 0, 0.05)                       !default;
$shortcodeCalloutBoxShadowInner:              inset 0 1px 3px rgba(0, 0, 0, 0.05),
                                              0 1px 0 0 rgba(255, 255, 255, 0.95)                 !default;
$shortcodeTOCBackground:                      $baseModBackground                                  !default;
$shortcodeTOCBoxShadow:                       0 1px 2px rgba(0, 0, 0, 0.1)                        !default;
$woocommerceQuantityButtonBackground:         #f5f5f5                                             !default;
$woocommerceQuantityButtonBackgroundHover:    #fafafa                                             !default;
$scrollTopColor:                              #272727                                             !default;



// Scaffolding
// =============================================================================

$bodyBackground:    #f2f2f2 !default;
$textColor:         #7a7a7a !default;



// Links
// =============================================================================

$linkColor:          $accentColor                                                                              !default;
$linkColorHover:     darken($linkColor, 15%)                                                                   !default;
$linkTransitions:    color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease !default;



// Typography
// =============================================================================

@import "../../../inc/font-stacks";


//
// Font families.
//

$sansFontFamily:     $lato     !default;
$monoFontFamily:     $consolas !default;
$altFontFamily:      $lato     !default;


//
// Base styles.
//

$baseFontSize:      62.5%           !default;
// $baseFontSize:      100%           !default;
$baseLineHeight:    1.7             !default;
$baseFontWeight:    300             !default;
$baseFontFamily:    $sansFontFamily !default;
$baseMargin:        1.313em         !default;


//
// Heading styles.
//

$headingsFontFamily:    $altFontFamily !default;
$headingsFontWeight:    700            !default;
$headingsColor:         #272727        !default;



// Tables
// =============================================================================

$tableBackground:    transparent !default;
$tableBorder:        #ddd        !default;



// Buttons
// =============================================================================

//
// Base button styling.
//

$btnIntegrityBackground:    $accentColor              !default;
$btnIntegrityBorder:        darken($accentColor, 20%) !default;



// Forms and Alerts
// =============================================================================

//
// Base form styling.
//

$formBaseFontWeight:       300     !default;
$formActionsBackground:    #f5f5f5 !default;


//
// Inputs.
//

$inputBackground:            $white             !default;
$inputBorder:                #ddd               !default;
$inputBorderFocus:           rgba(0, 0, 0, 0.3) !default;
$inputBorderRadius:          4px                !default;
$inputDisabledBackground:    $grayLighter       !default;


//
// Box shadows.
//

$inputUneditableBoxShadow:    inset 0 1px 1px rgba(0, 0, 0, 0.075)                             !default;
$inputBoxShadowFocus:         inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2) !default;


//
// Fine-tune element alignment.
//

$controlGroupMarginTop:               0    !default;
$controlGroupMarginTopAfterLegend:    20px !default;
$controlGroupMarginBottom:            24px !default;
$controlLabelPaddingTop:              4px  !default;
$labelMarginBottom:                   2px  !default;
$legendMargin:                        0    !default;
$fileMarginTop:                       2px  !default;
$checkboxTopPosition:                 2px  !default;
$radioTopPosition:                    1px  !default;


//
// Form states and alert colors.
//

$warningText:          #c09853                                          !default;
$warningBackground:    #fcf8e3                                          !default;
$warningBorder:        darken(adjust-hue($warningBackground, -10), 13%) !default;

$errorText:            #b94a48                                       !default;
$errorBackground:      #f2dede                                       !default;
$errorBorder:          darken(adjust-hue($errorBackground, -10), 9%) !default;

$successText:          #468847                                          !default;
$successBackground:    #dff0d8                                          !default;
$successBorder:        darken(adjust-hue($successBackground, -10), 13%) !default;

$infoText:             #3a87ad                                     !default;
$infoBackground:       #d9edf7                                     !default;
$infoBorder:           darken(adjust-hue($infoBackground, 10), 9%) !default;

$mutedText:            $grayLight                !default;
$mutedBackground:      $grayLighter              !default;
$mutedBorder:          darken($grayLighter, 12%) !default;


//
// Alerts.
//

$alertPadding:          0.786em 2.25em 1em 1.15em !default;
$alertBlockPadding:     0.786em 1.15em 1em        !default;

$alertBorderRadius:     4px                                                                    !default;
$alertBoxShadow:        inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 2px 3px rgba(0, 0, 0, 0.065) !default;

$alertLineHeight:       1.5                              !default;
$alertHeadingMargin:    0.05em 0 0.25em                  !default;
$alertTextShadow:       0 1px 0 rgba(255, 255, 255, 0.9) !default;



// Component Variables
// =============================================================================

//
// Input placeholder text.
//

$placeholderText:    #c5c5c5 !default;


//
// Navbar.
// 1. Base styles.
// 2. Link and text styles.
// 3. Button styles.
//

$navbarHeight:                     90px                            !default; // 1
$navbarFixedSideWidth:             228px                           !default; // 1
$navbarFontSize:                   14px                            !default; // 1
$navbarDesktopLinkSideSpacing:     1.429em                         !default; // 1
$navbarLinkFontWeight:             500                             !default; // 1
$navbarBackground:                 $baseModBackground              !default; // 1
$navbarOuterBorder:                darken($baseModBackground, 20%) !default; // 1
$navbarLeftBoxShadow:              2px 0 4px rgba(0, 0, 0, 0.1)    !default; // 1
$navbarRightBoxShadow:             -2px 0 4px rgba(0, 0, 0, 0.1)   !default; // 1

$navbarLinkColor:                  #b7b7b7                       !default; // 2
$navbarLinkColorHover:             #272727                       !default; // 2
$navbarLinkColorActive:            $gray                         !default; // 2
$navbarLinkBackgroundHover:        transparent                   !default; // 2
$navbarLinkBackgroundActive:       darken($navbarBackground, 3%) !default; // 2
$navbarTopLinkBoxShadowHover:      inset 0 4px 0 0 $accentColor  !default; // 2
$navbarLeftLinkBoxShadowHover:     inset 8px 0 0 0 $accentColor  !default; // 2
$navbarRightLinkBoxShadowHover:    inset -8px 0 0 0 $accentColor !default; // 2

$navbarBtnColor:                   darken($navbarLinkColor, 15%)                               !default; // 3
$navbarBtnColorCollapsed:          $navbarLinkColor                                            !default; // 3
$navbarBtnBackground:              darken($navbarBackground, 0%)                               !default; // 3
$navbarBtnBackgroundHover:         darken($navbarBackground, 3%)                               !default; // 3
$navbarBtnTextShadow:              0 1px 1px rgba(255, 255, 255, 0.75)                         !default; // 3
$navbarBtnBoxShadow:               inset 0 0 0 rgba(0, 0, 0, 0), 0 1px 5px rgba(0, 0, 0, 0.25) !default; // 3
$navbarBtnBoxShadowHover:          inset 0 1px 4px rgba(0, 0, 0, 0.25)                         !default; // 3


//
// Dropdowns.
// 1. Base styles.
// 2. Positioning.
// 3. Links.
// 4. Dividers.
//

$dropdownBorder:                 1px solid rgba(0, 0, 0, 0.2)  !default; // 1
$dropdownPadding:                0.75em 0                      !default; // 1
$dropdownBackground:             $white                        !default; // 1
$dropdownBoxShadow:              0 3px 5px rgba(0, 0, 0, 0.25) !default; // 1

$dropdownFirstSide:              94%     !default; // 2
$dropdownTop:                    -0.75em !default; // 2
$dropdownOffset:                 98%     !default; // 2

$dropdownLinkPadding:            0.5em 1.6em           !default; // 3
$dropdownLinkColor:              $navbarLinkColor      !default; // 3
$dropdownLinkColorHover:         $navbarLinkColorHover !default; // 3
$dropdownLinkBackgroundHover:    rgba(0, 0, 0, 0.0175) !default; // 3


//
// Tooltips and popovers.
//

$tooltipArrowWidth:         5px     !default;
$tooltipArrowColor:         #272727 !default;
$tooltipColor:              $white  !default;
$tooltipBackground:         #272727 !default;

$popoverArrowWidth:         10px                           !default;
$popoverArrowColor:         $white                         !default;
$popoverArrowOuterWidth:    $popoverArrowWidth + 1         !default;
$popoverArrowOuterColor:    rgba(0, 0, 0, 0.25)            !default;
$popoverBackground:         $white                         !default;
$popoverTitleBackground:    darken($popoverBackground, 3%) !default;


//
// Colophon.
//

$colophonBackground:        $baseModBackground                       !default;
$colophonBorderTopRgba:     rgba(0, 0, 0, 0.085)                     !default;
$colophonFirstBorder:       lighten($navbarOuterBorder, 3%)          !default;
$colophonFirstBoxShadow:    0 -0.125em 0.25em 0 rgba(0, 0, 0, 0.075) !default;



// BuddyPress
// =============================================================================

$bpSpacingSm:         15px                                   !default;
$bpSpacingLg:         $bpSpacingSm * 3                       !default;
$bpCalcSpacingSm:     25px + $bpSpacingSm                    !default;
$bpCalcSpacingLg:     45px + $bpSpacingSm                    !default;
$bpBorderColor:       $shortcodeBorderColor                  !default;
$bpBorderWidth:       1px                                    !default;
$bpBorder:            $bpBorderWidth solid $bpBorderColor    !default;
$bpBoxShadowOuter:    0 1px 2px rgba(0, 0, 0, 0.075)         !default;
$bpBoxShadowInner:    inset -1px -1px rgba(255, 255, 255, 1) !default;
$bpAccentColor:       #fcfcfc                                !default;
$bpNavSubnavColor:    rgba(0, 0, 0, 0.35)                    !default;



// Grid
// =============================================================================

//
// Grid columns.
//

$gridColumns:    12 !default;


//
// Fixed.
//

$gridColumnWidth:    31px                                                                        !default;
$gridGutterWidth:    40px                                                                        !default;
$gridRowWidth:       ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;


//
// Fluid.
//

$fluidGridColumnWidth:    percentage($gridColumnWidth/$gridRowWidth) !default;
$fluidGridGutterWidth:    percentage($gridGutterWidth/$gridRowWidth) !default;