$es_color_orange: #ff6b0b !default;
$es_color_blue: #002d62 !default;

.acf-taxonomy-field {
  .categorychecklist-holder { max-height: 320px; }
}

.es-acf-mantenimientos-week {

    td.acf-row-handle.order {
      color: #000;
        text-shadow: #444 0 1px
    }

    .acf-row {
      &:nth-child(odd) {
        td.acf-row-handle.order {
          background: rgba(#ff6b0b, 0.5);
        }
      }

      &:nth-child(even) {
        td.acf-row-handle.order {
          background: rgba(#002d62, 0.5);
        }
      }
    }
}

.es-acf-mantenimientos-provinces-affected {

  .acf-row {

      td.acf-row-handle.order {
        background: #f4f4f4 !important;
        color: #aaa;
        text-shadow: #fff 0 1px 0;
      }

      td.acf-row-handle.order:hover {
        color: #666;
      }

      // &:nth-child(odd) {
      //   td.acf-row-handle.order {
      //     background: rgba(#ff6b0b, 0.5);
      //   }
      // }

      // &:nth-child(even) {
      //   td.acf-row-handle.order {
      //     background: rgba(#002d62, 0.5);
      //   }
      // }

  }
}