@import "../_scss/inc/variables";
@import "../_scss/stacks/integrity/inc/variables-light";
@import "../_scss/inc/mixins";

$es_color_blue: #002d62 !default;
$es_color_orange: #ff6b0b !default;
$es_font_family_heading: "Open Sans", "Lato", sans-serif;

label { display: inline-block; }

select { width: 100%; }

.x-navbar-inner {
  // background: #002d62;
  // background: #ff6b0b;
}

.shiftnav.shiftnav-shiftnav-main ul.shiftnav-menu ul.sub-menu li.menu-item > .shiftnav-target {
  color: #444;
}

.shiftnav-search [type="submit"], .shiftnav-search [type="submit"]:hover{
    background: $es_color_blue;
    box-shadow: none;
    // box-shadow: 0 0.25em 0 0 #a71000,0 2px 4px rgba(0,0,0,0.75);
    border-radius: 0;
}

#shiftnav-toggle-main .shiftnav-main-toggle-content {
    // padding: 0px 40px;
}

#shiftnav-toggle-main {
  .shiftnav-main-toggle-content {
      padding: 10px 40px;
  }

  .shiftnav-main-toggle-content-after {
      padding-top: 6px;
  }
}

#menu-edesur-top-shiftnav {

  .shiftnav.shiftnav-shiftnav-main ul.shiftnav-menu ul.sub-menu li.menu-item > .shiftnav-target {

  }
  .shiftnav-sub-accordion.shiftnav-active {
    .current-menu-item {
      // .shiftnav-target { color: #fff; }
    }
  }
}

// .menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-139364 shiftnav-sub-accordion shiftnav-depth-1 shiftnav-active

.ubermenu-loc-primary {
  .ubermenu-item-level-0 {
    .ubermenu-target {
      padding: 15px;
    }

    .ubermenu-custom-content {
      h4 { color: $es_color_blue}
      p, li, label  { color: #222; }
    }
  }

  .es-top-bar-nav-noticias {
    .es-top-bar-nav-noticias-post {
      .ubermenu-target-title {
        color: $es_color_blue;
        font-family: $es_font_family_heading;
        font-weight: 600;

        &:hover {color: $es_color_orange; }
      }
      .ubermenu-target-description { color: $gray; }
    }
  }

  .ubermenu-has-submenu-drop>.ubermenu-target {
      padding-right: 25px;
  }

  .ubermenu-searchform {
    overflow: hidden;
  }
}

.es-site--vc-grid-home-news p {color: #fff;}

.es-site-faqs {
  .vc_tta-panel-title {

     @include break(baby-bear) {
         font-size: 125%;
    }
  }
}

.ubermenu-edesurfooternav.ubermenu-loc-footer {
  .ubermenu-item-level-0 {
    vertical-align: top;

     @include break(middle-bear) {
         // text-align: left;
         width: 100%;
    }
  }
}

.x-colophon.bottom {
  font-size: 14px;

  .x-social-global {
    margin: 48px 0 0;
  }

  .es-site-footer-copyright { margin-top: 32px; }

  .h-custom-headline {
    color: #555;
    font-weight: 400;
  }
  .es-site-footer-copyright-address {
  p { margin: 0; }
  }
}

.es-site-faqs.vc_tta.vc_general {

  .vc_tta-title-text { color: $es_color_blue; }

  .vc_tta-icon { color: $es_color_orange; }

  .vc_tta-panel-body {
    @include break(baby-bear) {
         padding: 16px 8px;
    }

    h5 {
      @include break(baby-bear) {
        font-size:  125%;
         margin: 0.5rem 0;
    }
    }
  }
}

#cs-content {

  h6 { text-transform: none; }

  .es-site-section-headings {
    margin: 1em 0;
  }
}

.es-site-home {

  .masthead.masthead-inline {

    @include break(mama-bear) {
          // margin-bottom: 60px;
      }
  }

  #cs-content {

    .es-site-section-headings {
      margin: 0 0 1em;
    }

    .es-site-section-home-services {

    }

    .es-site-home-services {
      .x-column {
        &.x-md {
          @include break(old-bear) {
            float: left;
            width: 50%;
            margin-right: 0;
          }
        }
      }
    }

    .x-card-outer  {
      .x-face-title {
         @include break(old-bear) {
            // font-size: 1em;
         }
      }

      .x-face-text {
         @include break(old-bear) {
            font-size: 0.75em;
         }
      }
    }

    .x-card-outer.center-vertically {
      .x-face-content {
        // vertical-align: top;
      }
    }
  }
}

.cred-form {
  .x-btn-block {
    width: 100%;
  }

  .wpt-form-error, .cred-label .wpt-form-error  {
    background: none;
    border-color: $es_color_orange;
    color: $es_color_blue;
    line-height: 1;
  }

  .cred-label .wpt-form-error {
    border: none;
    color: $es_color_orange;
    display: inline;
    font-size: 1.375em;
    font-weight: 900;
    padding: 0;
  }

  input[type=radio] {
    float: left;
    margin-right: 0.5em;
  }

  // .wpt-form-set-checkboxes, .wpt-form-checkbox {
    .wpt-form-checkbox-label {
      display: inline-block;
      margin-left: 0.5em;
    }
  // }
}

.es-form-comercial-actualizacion-datos.cred-form/* , .es-form-denuncia-fraude.cred-form */ {
  li.wpt-form-item-radio {
    display: inline-block;
    margin-right: 1.25em;
  }

  label.wpt-form-radio-label {  }
}

.es-form-comercial-buzon-sugerencias {

  .wpt-form-set-radios:not(.wpt-form-set-radios-wpcf-es_form_sugerencias_promo_choice) {
    .wpt-form-item-radio {
      @include break(mama-bear) {
        display: inline-block;
        margin-right: 2em;
        // label {visibility: hidden;}
        text-align: center;

        input[type=radio] {
          float: none;
          margin: 0 auto;
        }
      }
    }
  }

  .cred-field.cred-field-es_form_sugerencias_promo_choice {

  }
  .cred-field.cred-field-es_form_sugerencias_type {

    .wpt-form-item-radio {
      @include break(mama-bear) {
        margin-right: 0.5em;
        label {
          display: block;
          visibility: visible;
        }
      }
    }

  }

  div.cred-field.wpt-conditional-visible:not(.cred-field-es_form_sugerencias_comercial_feedback):not(.cred-field-es_form_sugerencias_comercial_visit_reason):not(.cred-field-es_form_sugerencias_tech_brigade_visit_reason):not(.cred-field-es_form_sugerencias_call_center_call_reason):not(.cred-field-es_form_sugerencias_promo_choice) {
    .x-container {
      padding: 1em 0 1em 1em;

      ul { margin-bottom: 0; }
    }
  }

  div.cred-field.wpt-conditional-visible:not(.cred-field-es_form_sugerencias_comercial_feedback):not(.cred-field-es_form_sugerencias_comercial_visit_reason):not(.cred-field-es_form_sugerencias_tech_brigade_visit_reason):not(.cred-field-es_form_sugerencias_call_center_call_reason):not(.cred-field-es_form_sugerencias_promo_choice):nth-child(2n+1)
   { background: #e6e6e6; }

   .cred-field.cred-field-es_form_sugerencias_call_center_experience.wpt-conditional-visible {
      h5 {
        background: #fff;
        margin-bottom: 0;
        padding-bottom: 0.75em;
      }
   }
}

body.es-site-home.x-navbar-fixed-top-active .x-navbar-wrap {
  height: 0px;
}

body.es-site-page-mision-vision-valores {

  .entry-wrap {
    background: url(//edesur.com.do/wp-content/uploads/2016/11/es-site-page-bg-mision-vision-valores.png) top right no-repeat;
    // background-size: auto 20%;

    @include break(baby-bear) {
      background-size: auto 20%;
    }

    @include break(middle-bear) {
      background-size: auto 35%;
    }

    @include break(old-bear) {
      background-size: auto 45%;
    }

    @include break(mama-bear) {
      background-size: auto 65%;
    }

    @include break(papa-bear) {
      background-size: auto 80%;
    }
  }
}

// Nuevo Servicio modal styles

.cp-modal-popup-container {

  b { font-weight: 600;}

  h3 { font-size: 24px; }

  h4 { font-size: 22px; }

  h3, h4 { font-weight: 300; }

  ol { margin-bottom: 1em;}

  p, ol li {
      font-family: $lato;
      font-size: 16px;
  }

  h3, h4, p, ol li  {
      color: #272727;
  }
}