// =============================================================================
// _TYPE.SCSS
// -----------------------------------------------------------------------------
// Site styles.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Body Text
//   02. Emphasis
//   03. Headings
//   04. Lists
//   05. Miscellaneous
// =============================================================================

// Body Text
// =============================================================================

p {
  margin: 0 0 $baseMargin;
}



// Emphasis
// =============================================================================

small {
  font-size: 0.8em;
}

b,
strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}



// Headings
// =============================================================================

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 1.25em 0 0.2em;
  text-rendering: optimizelegibility;
}

h1,
.h1 {
  margin-top: 1em;
  font-size: 400%;
  line-height: 1.1;
}

h2,
.h2 {
  font-size: 300%;
  line-height: 1.2;
}

h3,
.h3 {
  font-size: 250%;
  line-height: 1.3;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  // margin-top: 1.75em;
  margin-top: 1.5em;
  // margin-bottom: 0.5em;
  margin-bottom: 0.75em;
  line-height: 1.4;
}

h4,
.h4 {
  font-size: 175%;
}

h5,
.h5 {
  font-size: 150%;
}

h6,
.h6 {
  font-size: 125%;
  font-weight: 400;
  // text-transform: uppercase;
}



// Lists
// =============================================================================

//
// Unordered and ordered lists.
//

ul,
ol {
  padding: 0;
  margin: 0 0 $baseMargin 1.655em;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  line-height: $baseLineHeight;
}

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;

  & > li {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }
}


//
// Description lists.
//

dl {
  margin-bottom: $baseMargin;
}

dt,
dd {
  line-height: $baseLineHeight;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: $baseMargin;
}



// Miscellaneous
// =============================================================================

//
// Horizontal rules.
//

hr {
  height: 0;
  margin: $baseMargin 0;
  border: 0;
  border-top: 1px solid darken($baseModBackground, 5%);
}


//
// Abbreviations and acronyms.
//

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $grayLight;
}

abbr.initialism {
  font-size: .9em;
  text-transform: uppercase;
}


//
// Blockquotes.
//

blockquote {
  margin: $baseMargin 0;
  border: 1px solid darken($baseModBackground, 5%);
  border-left: 0;
  border-right: 0;
  padding: 1em 0;
  font-family: $altFontFamily;
  font-size: 171.4%;
  font-weight: 400;
  line-height: 1.3;
  color: $headingsColor;
}


//
// Quotes.
//

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}


//
// Addresses.
//

address {
  display: block;
  margin-bottom: $baseMargin;
  font-style: normal;
  line-height: $baseLineHeight;
}